body {
    background-image: url(/img/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    height: 100vh;
}

.card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.863);
    position: relative;
    margin-bottom: 4rem;
    height: 420px;
}

h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #ffffff;
    text-align: center
}

.user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}

.card input {
    width: 100%;
    margin-bottom: 20px
}

.card input[type="text"],
.card input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box
}

.card input[type="text"]:hover,
.card input[type="password"]:hover {
    color: #c4c4c4;
    border: 1px solid #380c0c;
    box-shadow: 0 0 5px rgba(80, 12, 12, 0.427), 0 0 10px rgba(81, 15, 15, 0.349), 0 0 15px rgba(123, 24, 24, 0.24), 0 2px 0 black
}

.card input[type="text"]:focus,
.card input[type="password"]:focus {
    border-bottom: 1px solid #380c0c
}

.card {
    position: relative
}

.card span {
    position: absolute;
    top: 10px;
    color: #262626
}

.card .button {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #380c0c;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
}

.card a {
    color: #5b5b5b;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 20px;
}

a:hover {
    color: #5781b7
}

a {
    color: #0000ff
}